@model PokerHand.Models.GameModel

@{
    ViewBag.Title = "Game";
}

<h2>Game</h2>

<div class="col-md-1">
    <div class="row">
        <input id="shuffle" type="button" class="btn btn-warning" value="Shuffle" />
    </div>
    <div class="row pad-top">
        <input id="deal" type="button" class="btn btn-primary" value="Deal Cards" />
    </div>
    <div class="row pad-top">
        <input id="winner" type="button" class="btn btn-success" value="Check Winner" />
    </div>
</div>

<div class="col-md-offset-1 col-md-10">
    <div class="row">
        <div class="col-md-offset-3 col-md-4">
            @Html.LabelFor(x => x.User1.Name) @Html.DisplayFor(x => x.User1.Name)
        </div>
    </div>
    <div class="row pad-top">
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 1">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 2">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 3">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 4">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 5">
        </div>
    </div>
    <div class="row pad-top" style="min-height: 80px;">
        <div class="col-md-offset-2 col-md-5">
            <h2><span id="winText" class="">Winner:</span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-4">
            @Html.LabelFor(x => x.User2.Name) @Html.DisplayFor(x => x.User2.Name)
        </div>
    </div>
    <div class="row pad-top">
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 1">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 2">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 3">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 4">
        </div>
        <div class="col-md-2">
            <img src="http://placehold.it/100x140" alt="Card 5">
        </div>
    </div>
</div>




